html {
    background: #ECE2D0;
    box-sizing: border-box;
  }
  .navbar{
    position: fixed;
    top: 0;
    width: 99vw;
    background: #D3A588;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-direction: row;
    align-items: center;
  }
  .nav-link{
    color: #7A6563;
    text-decoration: none;
    font-size: 20;
    font-weight: bold;
  }
  .welcome-section{
    height: 100vh;
    background: #ECE2D0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 4px solid #D3A588;
  }
  .section h3, h4, p{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
  .list{
    display: flex;
    justify-content: center;
  }
  section h3{
    border-bottom: 3px double #D3A588;
  }
  .section .sect{
    border: 2px solid #D3A588;
    margin-top: 15px;
    background: #ECE2D0;
  }
  .section .foot{
    border-right: 2px solid #D3A588;
    border-top: 2px solid #D3A588;
    border-left: 2px solid #D3A588;
    margin-top: 15px;
    bottom:0px;
    width: 100%;
    background: #D3A588;
    display: flex;
    justify-content: left;
    gap: 10%;
    flex-direction: row;
    align-items: center;
    
  }
  .section .foot ul > li{
    display: inline-flex;
    font-size: 20;
    font-weight: bold;
    color: #7A6563;
    
  }
  .section{
    margin-top: 50px;
  }
  .spacing{
    z-index: -1;
    height: 50px;
    position: fixed;
  }